<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>group edit </title>
        <meta name ="description" content = "group edit">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="css/style_main.css" rel="stylesheet">
        <link href="css/style_login.css" rel="stylesheet">
        <link rel="icon" type="image/png" href = "images/favicon.png">

    </head> 
    <body>
        <div class = "wrapper flex">
            <div class = "half_disp">
                <label for="title">グループ名</label><br>
                <%=form_with model:@group do |form|%>
                    <%=form.label :name, "name"%>
                    <br>
                    <%=form.text_field :name%>
                    <br> 
                    <%=form.label :overview, "contents"%>
                    <br>
                    <%=form.text_area :overview, size:"50x5"%>
                    <br>
                    <%=form.submit "update"%>
                    <br>
                <%end%>

            </div>
            <div class = "half_disp">
                参加中
                <br>
                <%@group.users.each do |user|%>
                  <%=user.name if GroupUser.find_by(user_id: user.id, group_id: @group.id).activated%>
                <%end%>
                <br>
                招待中
                <br>
                <%@group.users.each do |user|%>
                <%=user.name unless GroupUser.find_by(user_id: user.id, group_id: @group.id).activated%>
                <%end%>
                <br>
                招待

            </div>
        </div>
    </body>


</html>


