<div class = "wrapper flex">
    <div class = "half_disp">
        <label for="title">グループ名</label><br>
        <%=form_with model:@group do |form|%>
            <%=form.label :name, "name"%>
            <br>
            <%=form.text_field :name%>
            <br> 
            <%=form.label :overview, "contents"%>
            <br>
            <%=form.text_area :overview, size:"50x5"%>
            <br>
            <%=form.submit "create"%>
        <%end%>

    </div>
</div>