<div class="modal fade" id="update_schedule_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">edit schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
                <div id="errors_of_update_schedule" class= "errors"></div>
                <%=form_with model:Schedule.new, id:"update_schedule_form", local:false do |f|%>
                    <input type="hidden" name="_method" value="patch">
                    group:
                    <br>
                    <span id = "schedule_update_group"></span>
                    <br>
                    <%=f.label :title, "title:"%>    
                    <br>
                    <%=f.text_field :title ,id:"update_schedule_title"%>
                    <br>
                    <%=f.label :start_at, "from:"%>
                    <br>
                    <%=f.datetime_local_field :start_at, id:"update_schedule_start"%>
                    <br>
                    <%=f.label :end_at, "to:"%>
                    <br>
                    <%=f.datetime_local_field :end_at, id:"update_schedule_end"%>
                    <br>
                    <%=f.label :contents, "content:"%>
                    <br>
                    <%=f.text_area :contents, size:"50x5", placeholder:"詳細を入力",id:"update_schedule_content"%>
                    <br>
                    <div class="modal-footer">
                        <%=f.button "update", class:"btn btn-primary"%>
                        <a id ="schedule-delete" type="button" class="btn btn-secondary" data-method="delete">Delete</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                <%end%>

            </div>
    </div>
    </div>
</div>