<div class="modal fade" id="create_schedule_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">new schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
            <div id="errors_of_create_schedule" class= "errors"></div>

                <%=form_with model:Schedule.new,local:false do |f|%>
                    <%=f.label :group_id, "group:"%>
                    <br>
                    <%=f.select :group_id, GroupUser.where(user_id:current_user.id).where(activated:true).map{|gu|[Group.find(gu.group_id).name, Group.find(gu.group_id).id]}%>
                    <br>
                    <%=f.label :title, "title:"%>
                    <br>
                    <%=f.text_field :title%>
                    <br>

                    <%=f.label :start_at, "from:"%>
                    <br>
                    <%=f.datetime_local_field :start_at%>
                    <br>
                    <%=f.label :end_at, "to:"%>
                    <br>
                    <%=f.datetime_local_field :end_at%>
                    <br>
                    <%=f.label :contents, "content:"%>
                    <br>
                    <%=f.text_area :contents, size:"50x5", placeholder:"詳細を入力"%>
                    <br>
                    <div class="modal-footer">
                        <%=f.button "save", class:"btn btn-primary"%>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                <%end%>

            </div>
    </div>
    </div>
</div>