<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>main </title>
        <meta name ="description" content = "予定管理ページ">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="css/style_main.css" rel="stylesheet">
        <link rel="icon" type="image/png" href = "images/favicon.png">
    </head> 
    <body>


        <div class = "wrapper flex border">
        		<div id = "group_list" class = "border">
                予定表
                <div>
                    <%@user.groups.each do |group|%>
                        <%if GroupUser.find_by(user_id: current_user.id, group_id: group.id).activated?%>
                            <input type="checkbox" id ="<%=group.id%>-checked" class ="show-group" <%="checked" if @groups_show[group.id.to_s+"-checked"]=="checked"%>>
                            <a class = "group" type="button" data-toggle="modal" data-target="#create_group_modal" data-name=<%=group.name%> data-overview=<%=group.overview%> data-url=<%= edit_group_url(group)%>>
                                <%=group.name%>
                            </a>
                            <a data-toggle="collapse" href="#group<%=group.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <%#TODO ＜クリック時に変換。グループメンバーがいないときは非表示%>
                                ＜
                            </a>
                            <div class="collapse" id="group<%=group.id%>">
                                <div class="card-body">
                                    <%#TODO 空白が大きい。整理%>
                                    <%group.users.each do |user|%>
                                        <%= user.name if user != current_user and GroupUser.find_by(user_id: user.id, group_id: group.id).activated%>
                                        <br>
                                    <%end%>
                                </div>
                            </div>
                            <br>
                        <%end%>
                    <%end%>
            </div>

                <%=link_to"グループ作成", new_group_url%>

                <p id = "create_group" type="button" data-toggle="modal" data-target="#group_request_modal">
                <%#TODO グループリクエスト機能の追加%>
                    グループリクエスト
                </p>

                <label for="start_at">日時の変更</label><br>
                <%#TODO 選択日を予定表に反映する機能の追加%>
                <%# <input type="date" id="schedule_start_at" name="schedule_start" value="2020-01-15",required><br> %>
                <input type="date" id="schedule_start_at" name="schedule_start" value="<%=@first_day.to_s%>",required><br>

            </div>
            <div id = "schedule" class = "border">
                <div id ="schedule_table_window">
                    <div id = "schedule_table">
                        <%#TODO スケジュール表示機能作成。%>
                        <%#TODO スケジュール日時表示部分の整理。色、配置など。%>
                        <div id = "time_disp">
                            <div class = "day_disp one_hour_disp"><%=@first_day.month%>月</div>
                            <div class = "one_hour_disp aa">0:00</div>
                            <div class = "one_hour_disp">1:00</div>
                            <div class = "one_hour_disp">2:00</div>
                            <div class = "one_hour_disp">3:00</div>
                            <div class = "one_hour_disp">4:00</div>
                            <div class = "one_hour_disp">5:00</div>
                            <div class = "one_hour_disp">6:00</div>
                            <div class = "one_hour_disp">7:00</div>
                            <div class = "one_hour_disp">8:00</div>
                            <div class = "one_hour_disp">9:00</div>
                            <div class = "one_hour_disp">10:00</div>
                            <div class = "one_hour_disp">11:00</div>
                            <div class = "one_hour_disp">12:00</div>
                            <div class = "one_hour_disp">13:00</div>
                            <div class = "one_hour_disp">14:00</div>
                            <div class = "one_hour_disp">15:00</div>
                            <div class = "one_hour_disp">17:00</div>
                            <div class = "one_hour_disp">18:00</div>
                            <div class = "one_hour_disp">19:00</div>
                            <div class = "one_hour_disp">20:00</div>
                            <div class = "one_hour_disp">21:00</div>
                            <div class = "one_hour_disp">22:00</div>
                            <div class = "one_hour_disp">23:00</div>
                            <div class = "one_hour_disp">24:00</div>
                        </div>

                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=@first_day.day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=(@first_day+1).day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=(@first_day+2).day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=(@first_day+3).day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=(@first_day+4).day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=(@first_day+5).day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        <div class = "oneday_schedule">
                            <div class = "day_disp"><%=(@first_day+6).day%>日</div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                            <div class = "one_hour"></div>
                        </div>
                        

                    </div>
                    <button id = "create_schedule" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_schedule_modal">
                        <%#TODO スケジュール作成機能作成%>
                        create schedule
                    </button>
                </div>

                <div id = "schedule_detail" class = "border">
                    <div id = "attendance" class="border">
                        <%#TODO 参加不参加は追加機能。拡張機能作成時までこのまま%>
                        <div>
                            <input type="radio" id ="Participation" name = "schedule_attendance">
                            <label for="Participation">参加</label>
                        </div>
                        <div>
                            <input type="radio" id ="non-participation" name = "schedule_attendance">
                            <label for="non-participation">不参加</label>
                        </div>
                    </div>

                    <div id = "schedule_overview"class = "border">
                        <%#TODO スケジュール詳細表示機能作成%>
                        <h2>第5回会議</h2>
                        <p>参加者:田中、佐藤</p>
                        <p>日時:2021年12月28日</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal create schedule -->
        <div class="modal fade" id="create_schedule_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新しい予定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                    <div class="modal-body">

                        <label for="schedule_title">title:</label><br>
                        <input type="text" id="schedule_title" name="name" required minlength="4" maxlength="20" size="20"><br>

                        <label for="group_name">group:</label><br>
                        <input type="text" id="group_name" name="name" required minlength="4" maxlength="20" size="20"><br>

                        <label for="schedule_start_at">from:</label><br>
                        <input type="datetime-local" id="schedule_start_at" name="name" required><br>

                        <label for="schedule_end_at">to:</label><br>
                        <input type="datetime-local" id="schedule_end_at" name="name" required><br>
                        

                        <p>詳細</p>
                        <textarea id = "schedule_detail" placeholder="詳細を入力" rows="5" cols="50"></textarea>
                    
                    </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal show group -->
        <div class="modal fade" id="create_group_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                    <div class="modal-body">
											グループ名:
												<div id ="group-name">エラー。空データ</div>
											詳細
												<div id ="group-overview"></div>
											<%# <p>メンバー</p>
												<div id ="group_member"></div> %>

                        <%# <label for="title">グループ名</label><br>
                        <input type="text" id="group_name" name="name" required minlength="4" maxlength="8" size="10"><br> %>

                        <%# <p>詳細</p>
                        <textarea id = "group_detail" placeholder="詳細を入力" rows="5" cols="50"></textarea> %>

                    
                    </div>
                <div class="modal-footer">

    
                <button id = "edit-button" type="button" class="btn btn-secondary" data-dismiss="modal" >Edit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal group request -->
        <div class="modal fade" id="group_request_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">グループリクエスト</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                    <div class="modal-body">
                        <%@user.groups.each do |group|%>
                            <% unless GroupUser.find_by(user_id:@user, group_id:group.id).activated%>
                                <%=group.name%>
                                <input type="radio" id="participation" name="attendance">
                                <label for="title">承認</label>
                                <input type="radio" id="non_participation" name="attendance">
                                <label for="title">拒否</label>
                                <br>
                            <%end%>
                        <%end%>

                    </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal invite friends -->
        <div class="modal fade" id="invite_friends_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">友達招待</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                    <div class="modal-body">
                        <label for="start_at">idを入力</label><br>
                        <input type="text" id="user_id" name="name" required><br>                    
                    </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>

	
    </body>


</html>


