<div class = "wrapper flex border">
    <div id = "group_list">
        予定表
        <div>
            <%@user_active_groups.each do |group|%>
                <input type="checkbox" id ="<%=group.id%>-checkbox" class ="group-checkbox" <%="checked" if @groups_show_list.include?(group.id)%>>
                <a class = "group" type="button" data-toggle="modal" data-target="#create_group_modal" data-name="<%=group.name%>" data-overview="<%=group.overview%>" data-url=<%= edit_group_url(group)%>>
                    <%=group.name%>
                </a>
                <a class = "users_hide" data-toggle="collapse" href="#group<%=group.id%>" role="button" aria-expanded="false" aria-controls="collapseExample" data-users_count="<%=User.with_active_group(group).count%>">
                    ＜
                </a>
                <div class="collapse" id="group<%=group.id%>">
                    <div class="card-body">
                        <%User.with_active_group(group).each do |user|%>
                            <%= user.name if user != current_user%>
                            <br>
                        <%end%>
                    </div>
                </div>
                    <br>
            <%end%>
        </div>
        <div id="create_group" type="button" data-toggle="modal" data-target="#group_create_modal">
            グループ作成
        </div>
        <p id = "group_reqiest" type="button" data-toggle="modal" data-target="#group_request_modal">
            グループリクエスト
            <span class="red">
                <%if @user_non_active_groups.count==0%>
                    <%=nil%>
                <%else%>
                    <%=@user_non_active_groups.count%>
                <%end%>
            </span>
        </p>


        <label for="start_at">表示日時</label><br>
        <input type="date" id="display_start_at" name="schedule_start" value="<%=@first_day.strftime("%F")%>",required><br>

        <%= link_to "CSV出力", schedules_url(params.permit(:checkbox, :start_at).merge({format: "csv"})) %>
    </div>

    <div id = "schedule" class = "border">
        <div id ="schedule_table_window">
            <div id = "schedule_table">
                <%schedules = displayed_schedules(@groups_show_list,@first_day)%>
                <%schedule_params = displayed_schedules_params(schedules,@first_day)%>
                <%groupid_index = id_with_index(@user_active_groups)%>
                <%schedules.each do |schedule|%>
                    <%schedule_params[schedule.id].each.with_index do |prm, index|%>
                        <div id = "<%=schedule.id.to_s+"-"+index.to_s%>-schedule-block" class = "schedule_block" data-title="<%=schedule.title%>" 
                        data-content="<%=schedule.contents%>" 
                        data-users="<%=User.where(id:GroupUser.where(group_id:schedule.group.id).where(activated:true).map(&:user_id)).map(&:name)%>" 
                        data-start-at="<%=schedule.start_at%>" data-end-at="<%=schedule.end_at%>" data-id="<%=schedule.id%>" data-group="<%=schedule.group.name%>"
                        data-group_index = "<%=groupid_index[schedule.group.id]%>"
                        style="top:<%=prm[:top]%>px; 
                        left:<%=prm[:left]%>px; 
                        height:<%=prm[:height]%>px;
                        width:<%=prm[:width]%>px;
                        z-index:<%=prm[:zindex]%>">
                        <%=schedule.title%>
                        </div>
                    <%end%>
                <%end%>
                <%# <div class = "schedule_block" style = "z-index:10;background-color:blue">
                aaaa
                </div>    %>
                <%# <script>
                $(".schedule_block").on("click",function(){
                    $(this).css("background-color","red")
                });
                $(".schedule_block").on("click",function(){
                    $("#schedule_edit").trigger("click");
                });

                </script>              %>
                <%=time_disp%>


                <%first_day = @first_day%>
                <%7.times do |day|%>
                    <%=one_day(first_day, day)%>
                <%end%>


            </div>
            <button id = "create_schedule" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_schedule_modal">
                create schedule
            </button>
        </div>

        <div id = "schedule_detail" class = "border">
            <div id = "schedule_overview"class = "border">
                <h2 id = "schedule_overview_title">Schedule detail</h2>
                <p id = "schedule_overview_group"></p>
                <p id = "schedule_overview_users"></p>
                <p id = "schedule_overview_period"></p>
                <p id = "schedule_overview_contents"></p>
                <div id = "schedule_edit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#update_schedule_modal">
                    edit schedule
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal create schedule -->
<div class="modal fade" id="create_schedule_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">new schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
                <%if flash[:create_schedule_error].class == Array%>
                    <%flash[:create_schedule_error]&.each do |e| %>
                        <div class = "errors"><%=e%></div>
                    <%end%>
                <%elsif flash[:create_schedule_error].class == String%>
                    <div class = "errors">
                    <%=flash[:create_schedule_error]%>
                    </div>
                <%end%>
                <%=form_with model:Schedule.new do |f|%>
                    <%=f.label :group_id, "group:"%>
                    <br>
                    <%=f.select :group_id, GroupUser.where(user_id:current_user.id).where(activated:true).map{|gu|[Group.find(gu.group_id).name, Group.find(gu.group_id).id]}%>
                    <br>
                    <%=f.label :title, "title:"%>
                    <br>
                    <%=f.text_field :title%>
                    <br>

                    <%=f.label :start_at, "from:"%>
                    <br>
                    <%=f.datetime_local_field :start_at%>
                    <br>
                    <%=f.label :end_at, "to:"%>
                    <br>
                    <%=f.datetime_local_field :end_at%>
                    <br>
                    <%=f.label :contents, "content:"%>
                    <br>
                    <%=f.text_area :contents, size:"50x5", placeholder:"詳細を入力"%>
                    <br>
                    <div class="modal-footer">
                        <%=f.button "save", class:"btn btn-primary"%>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                <%end%>

            </div>
    </div>
    </div>
</div>

<!-- Modal update schedule -->
<div class="modal fade" id="update_schedule_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">edit schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
                    <%if flash[:update_schedule_error].class == Array%>
                        <%flash[:update_schedule_error]&.each do |e| %>
                        <div class = "errors"><%=e%></div>
                    <%end%>
                   <%elsif flash[:update_schedule_error].class == String%>
                        <div class = "errors">
                        <%=flash[:update_schedule_error]%>
                        </div>
                   <%end%>
                <%=form_with model:Schedule.new, id:"update_schedule_form" do |f|%>
                    <input type="hidden" name="_method" value="patch">
                    group:
                    <br>
                    <span id = "schedule_update_group"></span>
                    <br>
                    <%=f.label :title, "title:"%>    
                    <br>
                    <%=f.text_field :title ,id:"update_schedule_title"%>
                    <br>
                    <%=f.label :start_at, "from:"%>
                    <br>
                    <%=f.datetime_local_field :start_at, id:"update_schedule_start"%>
                    <br>
                    <%=f.label :end_at, "to:"%>
                    <br>
                    <%=f.datetime_local_field :end_at, id:"update_schedule_end"%>
                    <br>
                    <%=f.label :contents, "content:"%>
                    <br>
                    <%=f.text_area :contents, size:"50x5", placeholder:"詳細を入力",id:"update_schedule_content"%>
                    <br>
                    <div class="modal-footer">
                        <%=f.button "update", class:"btn btn-primary"%>
                        <a id ="schedule-delete" type="button" class="btn btn-secondary" data-method="delete">Delete</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                <%end%>

            </div>
    </div>
    </div>
</div>

<!-- Modal show group -->
<div class="modal fade" id="create_group_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
                    グループ名:
                <div id ="group-name">エラー。空データ</div>
                    詳細
                <div id ="group-overview"></div>
            </div>
        <div class="modal-footer">


        <button id = "edit-button" type="button" class="btn btn-secondary" data-dismiss="modal" >Edit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- Modal group request -->
<div class="modal fade" id="group_request_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">グループリクエスト</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
                <%@user_non_active_groups.each do |group|%>
                    <%gu = GroupUser.find_by(user_id:@user, group_id:group.id)%>
                    <%=form_with url:invite_user_url(gu) do |f|%>
                        <%=group.name%>
                        承認
                        <%=f.radio_button :response, :true%>
                        拒否
                        <%=f.radio_button :response, :false%>
                        <%=f.submit "response", class:"btn btn-primary"%>
                    <%end%>
                    <br>
                <%end%>
            </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>


<!-- Modal create group -->
<div class="modal fade" id="group_create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規グループ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
                <%if flash[:group_create_error].class == Array%>
                    <%flash[:group_create_error]&.each do |e| %>
                        <div class = "errors"><%=e%></div>
                    <%end%>
                <%elsif flash[:group_create_error].class == String%>
                    <div class = "errors">
                    <%=flash[:group_create_error]%>
                    </div>
                <%end%>
                <%=form_with model:Group.new do |form|%>
                    <%=form.label :name, "name"%>
                    <br>
                    <%=form.text_field :name%>
                    <br> 
                    <%=form.label :overview, "contents"%>
                    <br>
                    <%=form.text_area :overview, size:"50x5"%>
                    <br>
                    <%=form.submit "create"%>
                <%end%>
            </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>