<!DOCTYPE html>
<html lang=ja>
    <head>
	    <meta charset="utf-8">
        <title>Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<title>main </title>
    	<meta name ="description" content = "予定を管理するツール">
    	<%# <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css"> %>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    	<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    	<link rel="icon" type="image/png" href = "images/favicon.png">
    

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>	
	    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
    </head>

    <body>
        <div id = "header" class = "border flex">
            <%=link_to"planning with", root_url, id:"logo"%>
            <%# 日時表示部分。表示範囲で月替わり、年替わりする場合表示を変更する。 %>
            <%if @first_day.present?%>
                <%if @first_day.month == @first_day.since(6.day).month%>
                    <%# 月替わりが発生しない場合 %>
                    <%# ex)2022年2月 %>
                    <div id = "year_and_month"><%=@first_day.year%>年<%=@first_day.month%>月</div>
                <%elsif @first_day.month != @first_day.since(6.day).month%>
                    <%if @first_day.year == @first_day.since(6.day).year%>
                        <%# 月替わり発生時 %>
                        <%# ex)2022年2月〜3月 %>
                        <div id = "year_and_month"><%=@first_day.year%>年<%=@first_day.month%>月〜<%=@first_day.since(6.day).month%>月</div>
                    <%elsif @first_day.year != @first_day.since(6.day).year%>
                        <%# 年替わり発生時 %>
                        <%# ex)2021年12月〜2022年1月 %>
                        <div id = "year_and_month"><%=@first_day.year%>年<%=@first_day.month%>月〜<%=@first_day.since(6.day).year%>年<%=@first_day.since(6.day).month%>月</div>
                    <%end%> 
                <%end%>
            <%end%>

            <%# welcomeコメント表示 %>
            <%if @current_user.present?%>
                <span id="welcome_comment">welcome! <%=@user.name%>さん</span>
                <%= image_tag "profile_icon.png", id:"my_profile", size:'70x70', data:{toggle:"modal",target:"#my_profile_modal"}%>
            <%end%>
        </div>

        <%= yield %>

        <!-- Modal my profile -->
        <%=render partial:"layouts/mordal_my_profile"%>


        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>
</html>